header {
    margin-left: -8px;
    padding: 10px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-left: 1
}
.nav-bar {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}
.nav-item {
    padding: 5px 1em;
    width: 80px;
    border-right: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.nav-item:hover {
    background: lightblue;
    margin-top: -3px;
}

.nav-bar:last-child{
    border-right: none;
}
.Logo {
    height: 3em;
}

.wrapper {
    display: flex;
}

.headquarters-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}
.headquarters-image {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: 1px solid black;
}